## 2. Добавление данных (INSERT INTO)

### ➕ Добавление данных (INSERT INTO)

**Постановка проблемы:**  
Создать таблицу — это только первый шаг. Чтобы она начала приносить пользу, нужно добавить туда данные. Например, добавить новую книгу в каталог, нового пользователя или заказ. Для этого используется команда `INSERT INTO`.

**Краткая теория:**  
Команда `INSERT INTO` добавляет строку (или несколько) в таблицу. Указываются имена столбцов и значения. Если столбцы не указать, то значения должны идти в том порядке, в каком заданы столбцы при создании таблицы.

**Синтаксис:**
```sql
INSERT INTO table_name (column1, column2, ...) VALUES (value1, value2, ...);
```
Можно добавить несколько строк сразу:
```sql
INSERT INTO table_name VALUES
  (value1, value2, ...),
  (value1, value2, ...);
```

**Пример:**

In [ ]:
# Добавление данных в таблицу SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Создаём таблицу
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    year INTEGER
);
''')

# Добавим одну запись
cursor.execute("INSERT INTO books (title, author, year) VALUES (?, ?, ?)",
               ("Fahrenheit 451", "Ray Bradbury", 1953))

# Добавим несколько записей
books = [
    ("The Hobbit", "J.R.R. Tolkien", 1937),
    ("To Kill a Mockingbird", "Harper Lee", 1960)
]
cursor.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books)

conn.commit()

# Проверим содержимое
cursor.execute("SELECT * FROM books")
for row in cursor.fetchall():
    print(row)