## 3. –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (SELECT)

### üîç –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (SELECT)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ü–æ—Å–ª–µ —Ç–æ–≥–æ –∫–∞–∫ –º—ã –¥–æ–±–∞–≤–∏–ª–∏ –∑–∞–ø–∏—Å–∏ –≤ —Ç–∞–±–ª–∏—Ü—É, –≤–∞–∂–Ω–æ —É–º–µ—Ç—å –∏–∑–≤–ª–µ–∫–∞—Ç—å –∏–∑ –Ω–µ—ë –Ω—É–∂–Ω—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. –ù–∞–ø—Ä–∏–º–µ—Ä: –∫–∞–∫–∏–µ –∫–Ω–∏–≥–∏ –µ—Å—Ç—å –≤ –∫–∞—Ç–∞–ª–æ–≥–µ, –∫—Ç–æ –∞–≤—Ç–æ—Ä –∫–æ–Ω–∫—Ä–µ—Ç–Ω–æ–π –∫–Ω–∏–≥–∏ –∏–ª–∏ –∫–∞–∫–∏–µ –∑–∞–ø–∏—Å–∏ —É–¥–æ–≤–ª–µ—Ç–≤–æ—Ä—è—é—Ç –æ–ø—Ä–µ–¥–µ–ª—ë–Ω–Ω—ã–º —É—Å–ª–æ–≤–∏—è–º. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –∫–æ–º–∞–Ω–¥–∞ `SELECT`.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–ö–æ–º–∞–Ω–¥–∞ `SELECT` –∏–∑–≤–ª–µ–∫–∞–µ—Ç –¥–∞–Ω–Ω—ã–µ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã. –ú–æ–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å, –∫–∞–∫–∏–µ —Å—Ç–æ–ª–±—Ü—ã –Ω—É–∂–Ω—ã, –∏ –∫–∞–∫–∏–µ —É—Å–ª–æ–≤–∏—è –¥–æ–ª–∂–Ω—ã –±—ã—Ç—å –≤—ã–ø–æ–ª–Ω–µ–Ω—ã.

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
SELECT column1, column2 FROM table_name WHERE condition;
```
–ú–æ–∂–Ω–æ –≤—ã–±–∏—Ä–∞—Ç—å –≤—Å–µ —Å—Ç–æ–ª–±—Ü—ã —Å –ø–æ–º–æ—â—å—é `*`, —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å —Å –ø–æ–º–æ—â—å—é `ORDER BY`, –æ–≥—Ä–∞–Ω–∏—á–∏–≤–∞—Ç—å –∫–æ–ª–∏—á–µ—Å—Ç–≤–æ —Å—Ç—Ä–æ–∫ —Å `LIMIT`.

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# SELECT-–∑–∞–ø—Ä–æ—Å—ã –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É –∏ –¥–æ–±–∞–≤–ª—è–µ–º –¥–∞–Ω–Ω—ã–µ
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    year INTEGER
);
''')
books = [
    ("1984", "George Orwell", 1949),
    ("The Hobbit", "J.R.R. Tolkien", 1937),
    ("Brave New World", "Aldous Huxley", 1932)
]
cursor.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()

# –í—ã–≤–µ—Å—Ç–∏ –≤—Å–µ –∫–Ω–∏–≥–∏
cursor.execute("SELECT * FROM books")
print("üìö –í—Å–µ –∫–Ω–∏–≥–∏:")
for row in cursor.fetchall():
    print(row)

# –¢–æ–ª—å–∫–æ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–Ω–∏–≥
cursor.execute("SELECT title FROM books")
print("\nüìñ –ù–∞–∑–≤–∞–Ω–∏—è –∫–Ω–∏–≥:")
for row in cursor.fetchall():
    print(row[0])

# –ö–Ω–∏–≥–∏ –ø–æ—Å–ª–µ 1935 –≥–æ–¥–∞
cursor.execute("SELECT title, year FROM books WHERE year > 1935")
print("\nüìÖ –ö–Ω–∏–≥–∏ –ø–æ—Å–ª–µ 1935 –≥–æ–¥–∞:")
for row in cursor.fetchall():
    print(row)