## 6. –£–¥–∞–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (DELETE)

### üóëÔ∏è –£–¥–∞–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (DELETE)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ò–Ω–æ–≥–¥–∞ –Ω—É–∂–Ω–æ —É–¥–∞–ª–∏—Ç—å –Ω–µ–Ω—É–∂–Ω—É—é –∏–ª–∏ —É—Å—Ç–∞—Ä–µ–≤—à—É—é –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é. –ù–∞–ø—Ä–∏–º–µ—Ä, —É–¥–∞–ª–∏—Ç—å –¥—É–±–ª–∏—Ä—É—é—â—É—é—Å—è –∑–∞–ø–∏—Å—å –∏–ª–∏ –∫–Ω–∏–≥—É, –∫–æ—Ç–æ—Ä–æ–π –±–æ–ª—å—à–µ –Ω–µ—Ç. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –∫–æ–º–∞–Ω–¥–∞ `DELETE`.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`DELETE` —É–¥–∞–ª—è–µ—Ç —Å—Ç—Ä–æ–∫–∏ –∏–∑ —Ç–∞–±–ª–∏—Ü—ã. –í—Å–µ–≥–¥–∞ —Å—Ç–æ–∏—Ç –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å `WHERE`, —á—Ç–æ–±—ã —Å–ª—É—á–∞–π–Ω–æ –Ω–µ —É–¥–∞–ª–∏—Ç—å –≤—Å—ë.

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
DELETE FROM table_name WHERE condition;
```
–ï—Å–ª–∏ `WHERE` –Ω–µ —É–∫–∞–∑–∞—Ç—å, –±—É–¥—É—Ç —É–¥–∞–ª–µ–Ω—ã **–≤—Å–µ** —Å—Ç—Ä–æ–∫–∏ —Ç–∞–±–ª–∏—Ü—ã.

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –£–¥–∞–ª–µ–Ω–∏–µ –∑–∞–ø–∏—Å–µ–π –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É –∏ –¥–æ–±–∞–≤–ª—è–µ–º –¥–∞–Ω–Ω—ã–µ
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    year INTEGER
);
''')
books = [
    ("1984", "George Orwell", 1949),
    ("Brave New World", "Aldous Huxley", 1932),
    ("Animal Farm", "George Orwell", 1945)
]
cursor.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()

# –£–¥–∞–ª–∏–º –æ–¥–Ω—É –∫–Ω–∏–≥—É
cursor.execute("DELETE FROM books WHERE title = 'Animal Farm'")
conn.commit()

# –ü—Ä–æ–≤–µ—Ä–∏–º, —á—Ç–æ –æ—Å—Ç–∞–ª–æ—Å—å
cursor.execute("SELECT * FROM books")
print("üìö –ü–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è:")
for row in cursor.fetchall():
    print(row)