## 7. –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ (ORDER BY)

### üìä –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ (ORDER BY)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ö–æ–≥–¥–∞ –≤—ã–≤–æ–¥–∏—Ç—Å—è —Å–ø–∏—Å–æ–∫ –∑–∞–ø–∏—Å–µ–π, –≤–∞–∂–Ω–æ —É–º–µ—Ç—å —É–ø—Ä–∞–≤–ª—è—Ç—å –∏—Ö –ø–æ—Ä—è–¥–∫–æ–º. –ù–∞–ø—Ä–∏–º–µ—Ä, –æ—Ç—Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –∫–Ω–∏–≥–∏ –ø–æ –≥–æ–¥—É –≤—ã–ø—É—Å–∫–∞ –∏–ª–∏ –ø–æ –∞–ª—Ñ–∞–≤–∏—Ç—É. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –∫–ª—é—á–µ–≤–æ–µ —Å–ª–æ–≤–æ `ORDER BY`.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`ORDER BY` —Å–æ—Ä—Ç–∏—Ä—É–µ—Ç —Ä–µ–∑—É–ª—å—Ç–∞—Ç –ø–æ –æ–¥–Ω–æ–º—É –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º. –ü–æ —É–º–æ–ª—á–∞–Ω–∏—é —Å–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –∏–¥—ë—Ç –ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é (`ASC`). –î–ª—è –æ–±—Ä–∞—Ç–Ω–æ–≥–æ –ø–æ—Ä—è–¥–∫–∞ –∏—Å–ø–æ–ª—å–∑—É—é—Ç `DESC`.

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
SELECT * FROM table_name ORDER BY column_name ASC|DESC;
```
–ú–æ–∂–Ω–æ —Å–æ—Ä—Ç–∏—Ä–æ–≤–∞—Ç—å –ø–æ –Ω–µ—Å–∫–æ–ª—å–∫–∏–º —Å—Ç–æ–ª–±—Ü–∞–º: `ORDER BY author ASC, year DESC`

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É –∏ –¥–∞–Ω–Ω—ã–µ
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    year INTEGER
);
''')
books = [
    ("Brave New World", "Aldous Huxley", 1932),
    ("1984", "George Orwell", 1949),
    ("Animal Farm", "George Orwell", 1945),
    ("The Hobbit", "J.R.R. Tolkien", 1937)
]
cursor.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()

# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –≥–æ–¥—É (–ø–æ –≤–æ–∑—Ä–∞—Å—Ç–∞–Ω–∏—é)
cursor.execute("SELECT title, year FROM books ORDER BY year ASC")
print("üìò –ü–æ –≥–æ–¥—É (ASC):")
for row in cursor.fetchall():
    print(row)

# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –∞–≤—Ç–æ—Ä—É (–ø–æ –∞–ª—Ñ–∞–≤–∏—Ç—É)
cursor.execute("SELECT title, author FROM books ORDER BY author")
print("\nüìó –ü–æ –∞–≤—Ç–æ—Ä—É (ASC):")
for row in cursor.fetchall():
    print(row)

# –°–æ—Ä—Ç–∏—Ä–æ–≤–∫–∞ –ø–æ –≥–æ–¥—É (–ø–æ —É–±—ã–≤–∞–Ω–∏—é)
cursor.execute("SELECT title, year FROM books ORDER BY year DESC")
print("\nüìï –ü–æ –≥–æ–¥—É (DESC):")
for row in cursor.fetchall():
    print(row)