## 8. –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∞—Ç—ã (GROUP BY, COUNT, AVG...)

### üì¶ –ì—Ä—É–ø–ø–∏—Ä–æ–≤–∫–∞ –∏ –∞–≥—Ä–µ–≥–∞—Ç—ã (GROUP BY, COUNT, AVG...)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ù—É–∂–Ω–æ –Ω–µ –ø—Ä–æ—Å—Ç–æ –≤—ã–≤–µ—Å—Ç–∏ —Å—Ç—Ä–æ–∫–∏, –∞ —Å–≥—Ä—É–ø–ø–∏—Ä–æ–≤–∞—Ç—å –∏—Ö –∏ –ø–æ—Å—á–∏—Ç–∞—Ç—å —á—Ç–æ-—Ç–æ: –Ω–∞–ø—Ä–∏–º–µ—Ä, —Å–∫–æ–ª—å–∫–æ –∫–Ω–∏–≥ —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞, –∏–ª–∏ —Å—Ä–µ–¥–Ω–∏–π –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏. –≠—Ç–æ –¥–µ–ª–∞–µ—Ç—Å—è —á–µ—Ä–µ–∑ `GROUP BY` –∏ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ (`COUNT`, `AVG`, `SUM`, `MIN`, `MAX`).

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`GROUP BY` –≥—Ä—É–ø–ø–∏—Ä—É–µ—Ç —Å—Ç—Ä–æ–∫–∏ –ø–æ –∑–Ω–∞—á–µ–Ω–∏—é –æ–¥–Ω–æ–≥–æ –∏–ª–∏ –Ω–µ—Å–∫–æ–ª—å–∫–∏—Ö —Å—Ç–æ–ª–±—Ü–æ–≤. –ö –∫–∞–∂–¥–æ–π –≥—Ä—É–ø–ø–µ –º–æ–∂–Ω–æ –ø—Ä–∏–º–µ–Ω—è—Ç—å –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏.

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
SELECT column, COUNT(*) FROM table_name GROUP BY column;
SELECT author, AVG(year) FROM books GROUP BY author;
```
–ß–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è —Å `HAVING`, —á—Ç–æ–±—ã —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –≥—Ä—É–ø–ø—ã (–≤ –æ—Ç–ª–∏—á–∏–µ –æ—Ç `WHERE`, –∫–æ—Ç–æ—Ä—ã–π —Ñ–∏–ª—å—Ç—Ä—É–µ—Ç —Å—Ç—Ä–æ–∫–∏).

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# GROUP BY –∏ –∞–≥—Ä–µ–≥–∞—Ç–Ω—ã–µ —Ñ—É–Ω–∫—Ü–∏–∏ –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É –∏ –¥–∞–Ω–Ω—ã–µ
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author TEXT,
    year INTEGER
);
''')
books = [
    ("1984", "George Orwell", 1949),
    ("Animal Farm", "George Orwell", 1945),
    ("Brave New World", "Aldous Huxley", 1932),
    ("Island", "Aldous Huxley", 1962),
    ("The Hobbit", "J.R.R. Tolkien", 1937),
    ("The Silmarillion", "J.R.R. Tolkien", 1977)
]
cursor.executemany("INSERT INTO books (title, author, year) VALUES (?, ?, ?)", books)
conn.commit()

# –°—á–∏—Ç–∞–µ–º –∫–Ω–∏–≥–∏ –ø–æ –∞–≤—Ç–æ—Ä–∞–º
cursor.execute("SELECT author, COUNT(*) FROM books GROUP BY author")
print("üìö –ö–æ–ª-–≤–æ –∫–Ω–∏–≥ —É –∫–∞–∂–¥–æ–≥–æ –∞–≤—Ç–æ—Ä–∞:")
for row in cursor.fetchall():
    print(row)

# –°—Ä–µ–¥–Ω–∏–π –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏ –ø–æ –∞–≤—Ç–æ—Ä–∞–º
cursor.execute("SELECT author, AVG(year) FROM books GROUP BY author")
print("\nüìÖ –°—Ä–µ–¥–Ω–∏–π –≥–æ–¥ –ø—É–±–ª–∏–∫–∞—Ü–∏–∏:")
for row in cursor.fetchall():
    print(row)