## 10. –û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è (PRIMARY KEY, FOREIGN KEY...)

### üß± –û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è (PRIMARY KEY, FOREIGN KEY...)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ß—Ç–æ–±—ã –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –±—ã–ª–∞ –Ω–∞–¥—ë–∂–Ω–æ–π, –Ω—É–∂–Ω–æ –∫–æ–Ω—Ç—Ä–æ–ª–∏—Ä–æ–≤–∞—Ç—å, –∫–∞–∫–∏–µ –¥–∞–Ω–Ω—ã–µ –º–æ–≥—É—Ç –≤ –Ω–µ—ë –ø–æ–ø–∞–¥–∞—Ç—å. –ù–∞–ø—Ä–∏–º–µ—Ä, –Ω–µ–ª—å–∑—è –¥–æ–ø—É—Å—Ç–∏—Ç—å –ø–æ–≤—Ç–æ—Ä—è—é—â–∏–π—Å—è ID, –∏–ª–∏ —á—Ç–æ–±—ã –∫–Ω–∏–≥–∞ —Å—Å—ã–ª–∞–ª–∞—Å—å –Ω–∞ –Ω–µ—Å—É—â–µ—Å—Ç–≤—É—é—â–∏–π –∂–∞–Ω—Ä. –î–ª—è —ç—Ç–æ–≥–æ –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è (constraints).

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–û–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è –∑–∞–¥–∞—é—Ç—Å—è –ø—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã –∏ –ø—Ä–æ–≤–µ—Ä—è—é—Ç—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –ø—Ä–∏ –¥–æ–±–∞–≤–ª–µ–Ω–∏–∏ –∏–ª–∏ –∏–∑–º–µ–Ω–µ–Ω–∏–∏ –¥–∞–Ω–Ω—ã—Ö.

**–û—Å–Ω–æ–≤–Ω—ã–µ —Ç–∏–ø—ã –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–π:**
- `PRIMARY KEY` ‚Äî —É–Ω–∏–∫–∞–ª—å–Ω—ã–π –∏–¥–µ–Ω—Ç–∏—Ñ–∏–∫–∞—Ç–æ—Ä —Å—Ç—Ä–æ–∫–∏ (–æ–±—ã—á–Ω–æ `id`)
- `FOREIGN KEY` ‚Äî —Å–≤—è–∑—å —Å –¥—Ä—É–≥–æ–π —Ç–∞–±–ª–∏—Ü–µ–π
- `NOT NULL` ‚Äî –∑–∞–ø—Ä–µ—Ç –Ω–∞ –ø—É—Å—Ç—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è
- `UNIQUE` ‚Äî –∑–Ω–∞—á–µ–Ω–∏–µ –¥–æ–ª–∂–Ω–æ –±—ã—Ç—å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º
- `CHECK` ‚Äî –ª–æ–≥–∏—á–µ—Å–∫–æ–µ —É—Å–ª–æ–≤–∏–µ (–Ω–∞–ø—Ä–∏–º–µ—Ä, `year > 1900`)

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –ü—Ä–∏–º–µ—Ä –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–π –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –¢–∞–±–ª–∏—Ü–∞ –∞–≤—Ç–æ—Ä–æ–≤ —Å UNIQUE –∏ CHECK
cursor.execute('''
CREATE TABLE authors (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL UNIQUE,
    birth_year INTEGER CHECK (birth_year > 1800)
);
''')
cursor.executemany("INSERT INTO authors (name, birth_year) VALUES (?, ?)", [
    ("George Orwell", 1903),
    ("Aldous Huxley", 1894)
])

# –¢–∞–±–ª–∏—Ü–∞ –∫–Ω–∏–≥ —Å FOREIGN KEY
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT NOT NULL,
    author_id INTEGER NOT NULL,
    FOREIGN KEY (author_id) REFERENCES authors(id)
);
''')
cursor.executemany("INSERT INTO books (title, author_id) VALUES (?, ?)", [
    ("1984", 1),
    ("Brave New World", 2)
])
conn.commit()

# –ü—Ä–æ–±—É–µ–º –≤—Å—Ç–∞–≤–∏—Ç—å —Å –Ω–µ—Å—É—â–µ—Å—Ç–≤—É—é—â–∏–º author_id (–æ—à–∏–±–∫–∞)
try:
    cursor.execute("INSERT INTO books (title, author_id) VALUES (?, ?)", ("Fake Book", 99))
except sqlite3.IntegrityError as e:
    print("‚õî –û—à–∏–±–∫–∞ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è:", e)

# –í—ã–≤–æ–¥–∏–º —Ç–∞–±–ª–∏—Ü—ã
cursor.execute("SELECT * FROM authors")
print("üë§ –ê–≤—Ç–æ—Ä—ã:")
for row in cursor.fetchall():
    print(row)

cursor.execute("SELECT * FROM books")
print("\nüìö –ö–Ω–∏–≥–∏:")
for row in cursor.fetchall():
    print(row)