## 11. –ê–≤—Ç–æ–∏–Ω–∫—Ä–µ–º–µ–Ω—Ç –∏ –∏–Ω–¥–µ–∫—Å—ã

### ‚öôÔ∏è –ê–≤—Ç–æ–∏–Ω–∫—Ä–µ–º–µ–Ω—Ç –∏ –∏–Ω–¥–µ–∫—Å—ã

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ß–∞—Å—Ç–æ –Ω—É–∂–Ω–æ, —á—Ç–æ–±—ã ID –∑–∞–ø–∏—Å–µ–π —Å–æ–∑–¥–∞–≤–∞–ª—Å—è –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏. –ö—Ä–æ–º–µ —Ç–æ–≥–æ, –ø—Ä–∏ –±–æ–ª—å—à–æ–º –æ–±—ä—ë–º–µ –¥–∞–Ω–Ω—ã—Ö –ø–æ–∏—Å–∫ —Å—Ç–∞–Ω–æ–≤–∏—Ç—Å—è –º–µ–¥–ª–µ–Ω–Ω—ã–º ‚Äî –∑–¥–µ—Å—å –ø–æ–º–æ–≥–∞—é—Ç –∏–Ω–¥–µ–∫—Å—ã. –í–∞–∂–Ω–æ –∑–Ω–∞—Ç—å, –∫–∞–∫ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å `AUTOINCREMENT` –∏ `INDEX`.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
- `AUTOINCREMENT` –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ —É–≤–µ–ª–∏—á–∏–≤–∞–µ—Ç –∑–Ω–∞—á–µ–Ω–∏–µ `INTEGER PRIMARY KEY`
- `CREATE INDEX` —Å–æ–∑–¥–∞—ë—Ç –∏–Ω–¥–µ–∫—Å –¥–ª—è —É—Å–∫–æ—Ä–µ–Ω–∏—è –ø–æ–∏—Å–∫–∞ –ø–æ —Å—Ç–æ–ª–±—Ü—É
- –ò–Ω–¥–µ–∫—Å—ã –æ—Å–æ–±–µ–Ω–Ω–æ –ø–æ–ª–µ–∑–Ω—ã –¥–ª—è —Å—Ç–æ–ª–±—Ü–æ–≤, –ø–æ –∫–æ—Ç–æ—Ä—ã–º —á–∞—Å—Ç–æ –≤—ã–ø–æ–ª–Ω—è—é—Ç—Å—è `WHERE`, `ORDER BY`, `JOIN`

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT
);

CREATE INDEX idx_name ON users(name);
```

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# AUTOINCREMENT –∏ INDEX –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É —Å AUTOINCREMENT
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL
);
''')
cursor.executemany("INSERT INTO users (name) VALUES (?)", [
    ("Alice",), ("Bob",), ("Charlie",)
])
conn.commit()

# –°–æ–∑–¥–∞—ë–º –∏–Ω–¥–µ–∫—Å –ø–æ –∏–º–µ–Ω–∏
cursor.execute("CREATE INDEX idx_users_name ON users(name)")
conn.commit()

# –ü—Ä–æ–≤–µ—Ä—è–µ–º –∑–∞–ø–∏—Å–∏
cursor.execute("SELECT * FROM users")
print("üë• –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–∏:")
for row in cursor.fetchall():
    print(row)

# –ü—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ –∏–Ω–¥–µ–∫—Å —Ä–∞–±–æ—Ç–∞–µ—Ç (—á–µ—Ä–µ–∑ EXPLAIN ‚Äî –Ω–µ–æ–±—è–∑–∞—Ç–µ–ª—å–Ω–æ)
cursor.execute("EXPLAIN QUERY PLAN SELECT * FROM users WHERE name = 'Alice'")
print("\nüîç –ü–ª–∞–Ω –∑–∞–ø—Ä–æ—Å–∞:")
for row in cursor.fetchall():
    print(row)