## 12. –†–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º

### ‚è∞ –†–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–í–æ –º–Ω–æ–≥–∏—Ö –ø—Ä–æ–µ–∫—Ç–∞—Ö –Ω—É–∂–Ω–æ —Å–æ—Ö—Ä–∞–Ω—è—Ç—å, –∫–æ–≥–¥–∞ –ø—Ä–æ–∏–∑–æ—à–ª–æ —Å–æ–±—ã—Ç–∏–µ: –¥–∞—Ç–∞ —Ä–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏–∏, –≤—Ä–µ–º—è –∑–∞–∫–∞–∑–∞, –¥–µ–¥–ª–∞–π–Ω. SQLite —É–º–µ–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º —Å –ø–æ–º–æ—â—å—é –≤—Å—Ç—Ä–æ–µ–Ω–Ω—ã—Ö —Ñ—É–Ω–∫—Ü–∏–π.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
SQLite –Ω–µ –∏–º–µ–µ—Ç –æ—Ç–¥–µ–ª—å–Ω–æ–≥–æ —Ç–∏–ø–∞ `DATE` ‚Äî –¥–∞—Ç—ã —Ö—Ä–∞–Ω—è—Ç—Å—è –∫–∞–∫ `TEXT`, `REAL` –∏–ª–∏ `INTEGER`. –û–¥–Ω–∞–∫–æ SQLite –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç —Ñ—É–Ω–∫—Ü–∏–∏ —Ä–∞–±–æ—Ç—ã —Å–æ –≤—Ä–µ–º–µ–Ω–µ–º:

- `CURRENT_DATE`, `CURRENT_TIME`, `CURRENT_TIMESTAMP`
- `datetime(...)`, `date(...)`, `time(...)`, `strftime(...)`
- –ü–æ–¥–¥–µ—Ä–∂–∏–≤–∞—é—Ç—Å—è –º–æ–¥–∏—Ñ–∏–∫–∞—Ç–æ—Ä—ã: `'+1 day'`, `'start of month'`, `'localtime'` –∏ —Ç.–¥.

**–°–∏–Ω—Ç–∞–∫—Å–∏—Å:**
```sql
INSERT INTO table_name (created_at) VALUES (CURRENT_TIMESTAMP);
SELECT * FROM table_name WHERE date(created_at) = date('now');
```

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –†–∞–±–æ—Ç–∞ —Å –¥–∞—Ç–∞–º–∏ –∏ –≤—Ä–µ–º–µ–Ω–µ–º –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É —Å –¥–∞—Ç–æ–π
cursor.execute('''
CREATE TABLE events (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    created_at TEXT DEFAULT CURRENT_TIMESTAMP
);
''')

# –î–æ–±–∞–≤–∏–º —Å–æ–±—ã—Ç–∏—è
cursor.execute("INSERT INTO events (name) VALUES ('–†–µ–≥–∏—Å—Ç—Ä–∞—Ü–∏—è')")
cursor.execute("INSERT INTO events (name, created_at) VALUES (?, datetime('now', '-1 day'))", ("–ü—Ä–æ—à–ª–æ–µ —Å–æ–±—ã—Ç–∏–µ",))
conn.commit()

# –ü–æ–∫–∞–∂–µ–º –≤—Å–µ —Å–æ–±—ã—Ç–∏—è
cursor.execute("SELECT id, name, created_at FROM events")
print("üìÖ –°–ø–∏—Å–æ–∫ —Å–æ–±—ã—Ç–∏–π:")
for row in cursor.fetchall():
    print(row)

# –§–∏–ª—å—Ç—Ä—É–µ–º –ø–æ –¥–∞—Ç–µ (—Å–µ–≥–æ–¥–Ω—è)
cursor.execute("SELECT name FROM events WHERE date(created_at) = date('now')")
print("\nüìç –°–µ–≥–æ–¥–Ω—è—à–Ω–∏–µ —Å–æ–±—ã—Ç–∏—è:")
for row in cursor.fetchall():
    print(row[0])