## 14. SQLite + Python: –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ, cursor, execute

### üêç SQLite + Python: –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ, cursor, execute

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
SQLite ‚Äî —ç—Ç–æ –≤—Å—Ç—Ä–æ–µ–Ω–Ω–∞—è –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö, –∏ Python —É–º–µ–µ—Ç —Ä–∞–±–æ—Ç–∞—Ç—å —Å –Ω–µ–π "–∏–∑ –∫–æ—Ä–æ–±–∫–∏". –ù—É–∂–Ω–æ –ø–æ–Ω—è—Ç—å, –∫–∞–∫ –ø–æ–¥–∫–ª—é—á–∞—Ç—å—Å—è –∫ –±–∞–∑–µ, –≤—ã–ø–æ–ª–Ω—è—Ç—å SQL-–∑–∞–ø—Ä–æ—Å—ã –∏ –ø–æ–ª—É—á–∞—Ç—å —Ä–µ–∑—É–ª—å—Ç–∞—Ç—ã. –≠—Ç–æ –æ—Å–Ω–æ–≤–∞ –ª—é–±–æ–≥–æ –ø—Ä–æ–µ–∫—Ç–∞ —Å –±–∞–∑–æ–π.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
- `sqlite3.connect()` ‚Äî –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –±–∞–∑–µ (—Ñ–∞–π–ª –∏–ª–∏ –≤—Ä–µ–º–µ–Ω–Ω–∞—è –≤ –ø–∞–º—è—Ç–∏)
- `cursor()` ‚Äî –æ–±—ä–µ–∫—Ç –¥–ª—è –≤—ã–ø–æ–ª–Ω–µ–Ω–∏—è SQL-–∑–∞–ø—Ä–æ—Å–æ–≤
- `execute()` ‚Äî –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞
- `executemany()` ‚Äî –≤—ã–ø–æ–ª–Ω–µ–Ω–∏–µ –æ–¥–Ω–æ–≥–æ –∑–∞–ø—Ä–æ—Å–∞ —Å —Ä–∞–∑–Ω—ã–º–∏ –ø–∞—Ä–∞–º–µ—Ç—Ä–∞–º–∏
- `fetchall()`, `fetchone()` ‚Äî –ø–æ–ª—É—á–µ–Ω–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–∞
- `commit()` ‚Äî —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –∏–∑–º–µ–Ω–µ–Ω–∏–π

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –†–∞–±–æ—Ç–∞ —Å SQLite –≤ Python
import sqlite3

# –ü–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ —Ñ–∞–π–ª—É (–∏–ª–∏ :memory: –¥–ª—è –≤—Ä–µ–º–µ–Ω–Ω–æ–π –ë–î)
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT
);
''')

# –î–æ–±–∞–≤–ª–µ–Ω–∏–µ –∑–∞–ø–∏—Å–µ–π
cursor.execute("INSERT INTO users (name) VALUES ('Alice')")
cursor.executemany("INSERT INTO users (name) VALUES (?)", [("Bob",), ("Charlie",)])
conn.commit()

# –ü–æ–ª—É—á–µ–Ω–∏–µ –≤—Å–µ—Ö –∑–∞–ø–∏—Å–µ–π
cursor.execute("SELECT * FROM users")
print("üë• –°–ø–∏—Å–æ–∫ –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–π:")
for row in cursor.fetchall():
    print(row)

# –ó–∞–∫—Ä—ã—Ç–∏–µ —Å–æ–µ–¥–∏–Ω–µ–Ω–∏—è
conn.close()