## 15. –ü–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã

### üîê –ü–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ù–µ–ª—å–∑—è –ø–æ–¥—Å—Ç–∞–≤–ª—è—Ç—å –∑–Ω–∞—á–µ–Ω–∏—è –ø—Ä—è–º–æ –≤ SQL-—Å—Ç—Ä–æ–∫—É —á–µ—Ä–µ–∑ f-—Å—Ç—Ä–æ–∫–∏ ‚Äî —ç—Ç–æ –Ω–µ–±–µ–∑–æ–ø–∞—Å–Ω–æ –∏ –º–æ–∂–µ—Ç –ø—Ä–∏–≤–µ—Å—Ç–∏ –∫ SQL-–∏–Ω—ä–µ–∫—Ü–∏—è–º. –í–º–µ—Å—Ç–æ —ç—Ç–æ–≥–æ –Ω—É–∂–Ω–æ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞—Ç—å –ø–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–ü–∞—Ä–∞–º–µ—Ç—Ä—ã –ø–µ—Ä–µ–¥–∞—é—Ç—Å—è –æ—Ç–¥–µ–ª—å–Ω–æ –æ—Ç SQL-–∑–∞–ø—Ä–æ—Å–∞. –≠—Ç–æ –±–µ–∑–æ–ø–∞—Å–Ω–æ –∏ —É–¥–æ–±–Ω–æ:

- –ò—Å–ø–æ–ª—å–∑—É–µ—Ç—Å—è –∑–Ω–∞–∫ `?` –∫–∞–∫ placeholder
- –ó–Ω–∞—á–µ–Ω–∏—è –ø–µ—Ä–µ–¥–∞—é—Ç—Å—è –≤ –≤–∏–¥–µ –∫–æ—Ä—Ç–µ–∂–∞ –∏–ª–∏ —Å–ø–∏—Å–∫–∞
- –¢–∞–∫–∂–µ –ø–æ–¥–¥–µ—Ä–∂–∏–≤–∞–µ—Ç—Å—è `executemany()` –¥–ª—è –º–∞—Å—Å–æ–≤—ã—Ö –≤—Å—Ç–∞–≤–æ–∫

**–ü—Ä–∏–º–µ—Ä —Å–∏–Ω—Ç–∞–∫—Å–∏—Å–∞:**
```python
cursor.execute("SELECT * FROM users WHERE name = ?", ("Alice",))
```

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –ü–∞—Ä–∞–º–µ—Ç—Ä–∏–∑–æ–≤–∞–Ω–Ω—ã–µ –∑–∞–ø—Ä–æ—Å—ã –≤ SQLite
import sqlite3

conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É
cursor.execute('''
CREATE TABLE users (
    id INTEGER PRIMARY KEY,
    name TEXT,
    age INTEGER
);
''')

# –í—Å—Ç–∞–≤–∫–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤
cursor.execute("INSERT INTO users (name, age) VALUES (?, ?)", ("Alice", 30))
cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?)", [
    ("Bob", 25),
    ("Charlie", 35)
])
conn.commit()

# –ü–æ–∏—Å–∫ –ø–æ –∏–º–µ–Ω–∏ —Å –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–º
name_to_search = "Bob"
cursor.execute("SELECT * FROM users WHERE name = ?", (name_to_search,))
print("üîç –ü–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –ø–æ –∏–º–µ–Ω–∏ 'Bob':")
for row in cursor.fetchall():
    print(row)