## 16. –û–±—Ä–∞–±–æ—Ç–∫–∞ –æ—à–∏–±–æ–∫ –∏ with

### üßØ –û–±—Ä–∞–±–æ—Ç–∫–∞ –æ—à–∏–±–æ–∫ –∏ with

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ü—Ä–∏ —Ä–∞–±–æ—Ç–µ —Å –±–∞–∑–æ–π –º–æ–∂–µ—Ç –ø—Ä–æ–∏–∑–æ–π—Ç–∏ –æ—à–∏–±–∫–∞: –Ω–∞—Ä—É—à–µ–Ω–æ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ, —Å–∏–Ω—Ç–∞–∫—Å–∏—á–µ—Å–∫–∞—è –æ—à–∏–±–∫–∞, –±–∞–∑–∞ –Ω–µ–¥–æ—Å—Ç—É–ø–Ω–∞. –í–∞–∂–Ω–æ —É–º–µ—Ç—å –æ–±—Ä–∞–±–∞—Ç—ã–≤–∞—Ç—å —Ç–∞–∫–∏–µ —Å–ª—É—á–∞–∏ –±–µ–∑–æ–ø–∞—Å–Ω–æ –∏ –∑–∞–∫—Ä—ã–≤–∞—Ç—å —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ –∫–æ—Ä—Ä–µ–∫—Ç–Ω–æ.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
- –í—Å–µ –æ—à–∏–±–∫–∏ SQLite –≤ Python –ø–æ–ø–∞–¥–∞—é—Ç –ø–æ–¥ `sqlite3.Error`
- –ß–∞—Å—Ç–æ –∏—Å–ø–æ–ª—å–∑—É—é—Ç `try ... except` –¥–ª—è –ø–µ—Ä–µ—Ö–≤–∞—Ç–∞ –æ—à–∏–±–æ–∫
- –ß—Ç–æ–±—ã –Ω–µ –∑–∞–±—ã—Ç—å –∑–∞–∫—Ä—ã—Ç—å —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ, –ø—Ä–∏–º–µ–Ω—è—é—Ç `with sqlite3.connect(...) as conn:` ‚Äî —ç—Ç–æ –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –≤—ã–∑–æ–≤–µ—Ç `commit()` –∏–ª–∏ `rollback()`

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –û–±—Ä–∞–±–æ—Ç–∫–∞ –æ—à–∏–±–æ–∫ –∏ –∏—Å–ø–æ–ª—å–∑–æ–≤–∞–Ω–∏–µ with
import sqlite3

try:
    with sqlite3.connect(':memory:') as conn:
        cursor = conn.cursor()
        cursor.execute('''
        CREATE TABLE users (
            id INTEGER PRIMARY KEY,
            name TEXT UNIQUE
        );
        ''')
        cursor.execute("INSERT INTO users (name) VALUES (?)", ("Alice",))
        cursor.execute("INSERT INTO users (name) VALUES (?)", ("Bob",))

        # –ü—ã—Ç–∞–µ–º—Å—è –≤—Å—Ç–∞–≤–∏—Ç—å –¥—É–±–ª–∏–∫–∞—Ç ‚Äî –≤—ã–∑–æ–≤–µ—Ç –æ—à–∏–±–∫—É
        cursor.execute("INSERT INTO users (name) VALUES (?)", ("Alice",))

except sqlite3.IntegrityError as e:
    print("‚õî –ù–∞—Ä—É—à–µ–Ω–æ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–µ —É–Ω–∏–∫–∞–ª—å–Ω–æ—Å—Ç–∏:", e)

except sqlite3.Error as e:
    print("‚ùó –û—à–∏–±–∫–∞ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö:", e)

else:
    print("‚úÖ –í—Å—ë –ø—Ä–æ—à–ª–æ —É—Å–ø–µ—à–Ω–æ")

# –ü–æ–≤—Ç–æ—Ä–Ω–æ–µ –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ, —á—Ç–æ–±—ã –ø–æ–∫–∞–∑–∞—Ç—å —Å–æ–¥–µ—Ä–∂–∏–º–æ–µ
with sqlite3.connect(':memory:') as conn:
    print("\n‚ÑπÔ∏è –≠—Ç–∞ –±–∞–∑–∞ –ø—É—Å—Ç–∞, –ø–æ—Ç–æ–º—É —á—Ç–æ –±—ã–ª–∞ –≤ –ø–∞–º—è—Ç–∏ –∏ –∑–∞–∫—Ä—ã–ª–∞—Å—å –ø–æ—Å–ª–µ with")