## 18. –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 1NF

### üßÆ –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 1NF (–ü–µ—Ä–≤–∞—è –Ω–æ—Ä–º–∞–ª—å–Ω–∞—è —Ñ–æ—Ä–º–∞)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ï—Å–ª–∏ —Ö—Ä–∞–Ω–∏—Ç—å –≤ –æ–¥–Ω–æ–π —è—á–µ–π–∫–µ —Å–ø–∏—Å–æ–∫ –∑–Ω–∞—á–µ–Ω–∏–π (–Ω–∞–ø—Ä–∏–º–µ—Ä, –≤—Å–µ —Ç–µ–ª–µ—Ñ–æ–Ω—ã –∫–ª–∏–µ–Ω—Ç–∞ —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é), —Ç–æ –±—É–¥–µ—Ç —Ç—Ä—É–¥–Ω–æ –∏—Å–∫–∞—Ç—å, —Ñ–∏–ª—å—Ç—Ä–æ–≤–∞—Ç—å –∏ —Å–≤—è–∑—ã–≤–∞—Ç—å –¥–∞–Ω–Ω—ã–µ. –ü–µ—Ä–≤–∞—è –Ω–æ—Ä–º–∞–ª—å–Ω–∞—è —Ñ–æ—Ä–º–∞ —Ç—Ä–µ–±—É–µ—Ç –∏–∑–±–∞–≤–∏—Ç—å—Å—è –æ—Ç –ø–æ–≤—Ç–æ—Ä—è—é—â–∏—Ö—Å—è –≥—Ä—É–ø–ø.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–¢–∞–±–ª–∏—Ü–∞ –Ω–∞—Ö–æ–¥–∏—Ç—Å—è –≤ **1NF**, –µ—Å–ª–∏:
- –í—Å–µ –ø–æ–ª—è –∞—Ç–æ–º–∞—Ä–Ω—ã (–æ–¥–Ω–æ –∑–Ω–∞—á–µ–Ω–∏–µ –Ω–∞ —è—á–µ–π–∫—É)
- –ù–µ—Ç –ø–æ–≤—Ç–æ—Ä—è—é—â–∏—Ö—Å—è —Å—Ç–æ–ª–±—Ü–æ–≤
- –ö–∞–∂–¥–∞—è —Å—Ç—Ä–æ–∫–∞ —É–Ω–∏–∫–∞–ª—å–Ω–∞

–î–ª—è —ç—Ç–æ–≥–æ —á–∞—Å—Ç–æ –Ω—É–∂–Ω–æ **—Ä–∞–∑–¥–µ–ª–∏—Ç—å —Ç–∞–±–ª–∏—Ü—É** –Ω–∞ –Ω–µ—Å–∫–æ–ª—å–∫–æ —Å–≤—è–∑–∞–Ω–Ω—ã—Ö: –Ω–∞–ø—Ä–∏–º–µ—Ä, –∫–ª–∏–µ–Ω—Ç–æ–≤ –∏ –∏—Ö —Ç–µ–ª–µ—Ñ–æ–Ω—ã.

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –î–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏—è 1NF –≤ SQLite
import sqlite3

# –ù–∞—Ä—É—à–µ–Ω–∏–µ 1NF: —Ç–µ–ª–µ—Ñ–æ–Ω—ã —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()
cursor.execute('''CREATE TABLE bad_clients (
    id INTEGER PRIMARY KEY,
    name TEXT,
    phones TEXT  -- –Ω–∞—Ä—É—à–µ–Ω–∏–µ: —Å–ø–∏—Å–æ–∫ —Ç–µ–ª–µ—Ñ–æ–Ω–æ–≤ —á–µ—Ä–µ–∑ –∑–∞–ø—è—Ç—É—é
)''')
cursor.execute("INSERT INTO bad_clients (name, phones) VALUES (?, ?)", ("–ê–Ω–Ω–∞", "+7900,+7901"))
cursor.execute("SELECT * FROM bad_clients")
print("üö´ –ù–∞—Ä—É—à–µ–Ω–∏–µ 1NF:")
for row in cursor.fetchall():
    print(row)

# –†–µ—à–µ–Ω–∏–µ: –≤—ã–Ω–æ—Å–∏–º —Ç–µ–ª–µ—Ñ–æ–Ω—ã –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
cursor.execute("DROP TABLE bad_clients")
cursor.execute("CREATE TABLE clients (id INTEGER PRIMARY KEY, name TEXT)")
cursor.execute("CREATE TABLE phones (
    id INTEGER PRIMARY KEY,
    client_id INTEGER,
    phone TEXT,
    FOREIGN KEY (client_id) REFERENCES clients(id)
)")
cursor.execute("INSERT INTO clients (name) VALUES ('–ê–Ω–Ω–∞')")
client_id = cursor.lastrowid
cursor.executemany("INSERT INTO phones (client_id, phone) VALUES (?, ?)", [
    (client_id, "+7900"),
    (client_id, "+7901")
])
conn.commit()

# –ü—Ä–æ–≤–µ—Ä–∏–º —Ä–µ–∑—É–ª—å—Ç–∞—Ç
print("\n‚úÖ –í –Ω–æ—Ä–º–∞–ª—å–Ω–æ–π —Ñ–æ—Ä–º–µ:")
cursor.execute("SELECT c.name, p.phone FROM clients c JOIN phones p ON c.id = p.client_id")
for row in cursor.fetchall():
    print(row)