## 19. –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 2NF

### üßÆ –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 2NF (–í—Ç–æ—Ä–∞—è –Ω–æ—Ä–º–∞–ª—å–Ω–∞—è —Ñ–æ—Ä–º–∞)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ï—Å–ª–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –µ—Å—Ç—å —Å–æ—Å—Ç–∞–≤–Ω–æ–π –∫–ª—é—á, –∏ –∫–∞–∫–∞—è-—Ç–æ –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—è –∑–∞–≤–∏—Å–∏—Ç —Ç–æ–ª—å–∫–æ –æ—Ç —á–∞—Å—Ç–∏ –∫–ª—é—á–∞, —ç—Ç–æ –Ω–∞—Ä—É—à–∞–µ—Ç –ª–æ–≥–∏–∫—É: –ø–æ—è–≤–ª—è—é—Ç—Å—è –¥—É–±–ª–∏–∫–∞—Ç—ã, –¥–∞–Ω–Ω—ã–µ —Å–ª–æ–∂–Ω–µ–µ –æ–±–Ω–æ–≤–ª—è—Ç—å. –ù—É–∂–Ω–æ –≤—ã–Ω–µ—Å—Ç–∏ –∑–∞–≤–∏—Å–∏–º—ã–µ –¥–∞–Ω–Ω—ã–µ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
**2NF** = 1NF + –Ω–µ—Ç —á–∞—Å—Ç–∏—á–Ω—ã—Ö –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–µ–π –æ—Ç —Å–æ—Å—Ç–∞–≤–Ω–æ–≥–æ –∫–ª—é—á–∞.

- –í—Å–µ –Ω–µ–∫–ª—é—á–µ–≤—ã–µ –ø–æ–ª—è –¥–æ–ª–∂–Ω—ã –∑–∞–≤–∏—Å–µ—Ç—å **–æ—Ç –≤—Å–µ–≥–æ** –∫–ª—é—á–∞, –∞ –Ω–µ –æ—Ç –µ–≥–æ —á–∞—Å—Ç–∏
- –ß–∞—Å—Ç–æ —Ä–µ—à–∞–µ—Ç—Å—è —á–µ—Ä–µ–∑ —Ä–∞–∑–±–∏–µ–Ω–∏–µ —Ç–∞–±–ª–∏—Ü—ã –∏ –≤—ã–Ω–æ—Å –ø–æ–≤—Ç–æ—Ä—è—é—â–∏—Ö—Å—è –¥–∞–Ω–Ω—ã—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Å—É—â–Ω–æ—Å—Ç—å

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –î–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏—è 2NF –≤ SQLite
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –ù–∞—Ä—É—à–µ–Ω–∏–µ 2NF: –ø—Ä–µ–¥–º–µ—Ç –∑–∞–≤–∏—Å–∏—Ç —Ç–æ–ª—å–∫–æ –æ—Ç student_id
cursor.execute('''CREATE TABLE enrollment_bad (
    student_id INTEGER,
    course_id INTEGER,
    student_name TEXT,
    PRIMARY KEY (student_id, course_id)
)''')
cursor.execute("INSERT INTO enrollment_bad VALUES (1, 101, '–ê–Ω–Ω–∞')")
cursor.execute("INSERT INTO enrollment_bad VALUES (1, 102, '–ê–Ω–Ω–∞')")
cursor.execute("SELECT * FROM enrollment_bad")
print("üö´ –ù–∞—Ä—É—à–µ–Ω–∏–µ 2NF:")
for row in cursor.fetchall():
    print(row)

# –†–µ—à–µ–Ω–∏–µ: –æ—Ç–¥–µ–ª—è–µ–º —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
cursor.execute("DROP TABLE enrollment_bad")
cursor.execute("CREATE TABLE students (id INTEGER PRIMARY KEY, name TEXT)")
cursor.execute("CREATE TABLE courses (id INTEGER PRIMARY KEY, title TEXT)")
cursor.execute("CREATE TABLE enrollment (
    student_id INTEGER,
    course_id INTEGER,
    PRIMARY KEY (student_id, course_id),
    FOREIGN KEY (student_id) REFERENCES students(id),
    FOREIGN KEY (course_id) REFERENCES courses(id)
)" )
# –î–æ–±–∞–≤–ª—è–µ–º —Å—Ç—É–¥–µ–Ω—Ç–æ–≤ –∏ –∫—É—Ä—Å—ã
cursor.execute("INSERT INTO students (name) VALUES ('–ê–Ω–Ω–∞')")
cursor.executemany("INSERT INTO courses (title) VALUES (?)", [("–ú–∞—Ç–µ–º–∞—Ç–∏–∫–∞",), ("–ò—Å—Ç–æ—Ä–∏—è",)])
conn.commit()
student_id = cursor.execute("SELECT id FROM students WHERE name = '–ê–Ω–Ω–∞'").fetchone()[0]
course_ids = cursor.execute("SELECT id FROM courses").fetchall()
cursor.executemany("INSERT INTO enrollment (student_id, course_id) VALUES (?, ?)",
                   [(student_id, course_id[0]) for course_id in course_ids])
conn.commit()

# –ü—Ä–æ–≤–µ—Ä–∫–∞
print("\n‚úÖ –ü–æ—Å–ª–µ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏–∏ (2NF):")
cursor.execute('''
SELECT s.name, c.title FROM enrollment e
JOIN students s ON s.id = e.student_id
JOIN courses c ON c.id = e.course_id
''')
for row in cursor.fetchall():
    print(row)