## 20. –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 3NF

### üßÆ –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: 3NF (–¢—Ä–µ—Ç—å—è –Ω–æ—Ä–º–∞–ª—å–Ω–∞—è —Ñ–æ—Ä–º–∞)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ï—Å–ª–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ –æ–¥–Ω–æ –ø–æ–ª–µ –∑–∞–≤–∏—Å–∏—Ç –Ω–µ –æ—Ç –∫–ª—é—á–∞, –∞ –æ—Ç –¥—Ä—É–≥–æ–≥–æ –Ω–µ–∫–ª—é—á–µ–≤–æ–≥–æ –ø–æ–ª—è ‚Äî —ç—Ç–æ –Ω–∞—Ä—É—à–∞–µ—Ç —Å—Ç—Ä—É–∫—Ç—É—Ä—É. –ù–∞–ø—Ä–∏–º–µ—Ä, –µ—Å–ª–∏ —É —Å—Ç—É–¥–µ–Ω—Ç–∞ –µ—Å—Ç—å –≥–æ—Ä–æ–¥, –∞ —É –≥–æ—Ä–æ–¥–∞ ‚Äî –∫–æ–¥, –Ω–æ –≤—Å—ë —ç—Ç–æ –≤ –æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ. –ü—Ä–∏ –∏–∑–º–µ–Ω–µ–Ω–∏–∏ –≥–æ—Ä–æ–¥–∞ ‚Äî –Ω–∞–¥–æ –º–µ–Ω—è—Ç—å –∫–æ–¥ –≤–µ–∑–¥–µ. –≠—Ç–æ –¥—É–±–ª–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ –ø–æ—Ç–µ–Ω—Ü–∏–∞–ª—å–Ω—ã–µ –æ—à–∏–±–∫–∏.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
**3NF** = 2NF + –æ—Ç—Å—É—Ç—Å—Ç–≤–∏–µ **—Ç—Ä–∞–Ω–∑–∏—Ç–∏–≤–Ω—ã—Ö –∑–∞–≤–∏—Å–∏–º–æ—Å—Ç–µ–π**:
- –ù–µ–ª—å–∑—è, —á—Ç–æ–±—ã –æ–¥–Ω–∏ –Ω–µ–∫–ª—é—á–µ–≤—ã–µ –ø–æ–ª—è –∑–∞–≤–∏—Å–µ–ª–∏ –æ—Ç –¥—Ä—É–≥–∏—Ö
- –í—Å–µ –Ω–µ–∫–ª—é—á–µ–≤—ã–µ –ø–æ–ª—è –¥–æ–ª–∂–Ω—ã –∑–∞–≤–∏—Å–µ—Ç—å **—Ç–æ–ª—å–∫–æ** –æ—Ç –∫–ª—é—á–∞

–†–µ—à–∞–µ—Ç—Å—è –ø—É—Ç—ë–º –≤—ã–Ω–æ—Å–∞ –∑–∞–≤–∏—Å–∏–º—ã—Ö –¥–∞–Ω–Ω—ã—Ö –≤ –æ—Ç–¥–µ–ª—å–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã —Å –≤–Ω–µ—à–Ω–∏–º–∏ –∫–ª—é—á–∞–º–∏.

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –î–µ–º–æ–Ω—Å—Ç—Ä–∞—Ü–∏—è 3NF –≤ SQLite
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –ù–∞—Ä—É—à–µ–Ω–∏–µ 3NF: –≥–æ—Ä–æ–¥ –∏ –µ–≥–æ –∫–æ–¥ –∑–∞–≤–∏—Å—è—Ç –æ—Ç student_city, –∞ –Ω–µ –æ—Ç –∫–ª—é—á–∞
cursor.execute('''CREATE TABLE students_bad (
    id INTEGER PRIMARY KEY,
    name TEXT,
    city TEXT,
    city_code TEXT
)''')
cursor.execute("INSERT INTO students_bad VALUES (1, '–ê–Ω–Ω–∞', '–ú–æ—Å–∫–≤–∞', 'MSK')")
cursor.execute("INSERT INTO students_bad VALUES (2, '–ë–æ–±', '–ú–æ—Å–∫–≤–∞', 'MSK')")
cursor.execute("INSERT INTO students_bad VALUES (3, '–í–∞—Å—è', '–°–ü–±', 'LED')")
print("üö´ –ù–∞—Ä—É—à–µ–Ω–∏–µ 3NF:")
cursor.execute("SELECT * FROM students_bad")
for row in cursor.fetchall():
    print(row)

# –ù–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—è: –≤—ã–Ω–æ—Å–∏–º –≥–æ—Ä–æ–¥–∞ –≤ –æ—Ç–¥–µ–ª—å–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
cursor.execute("DROP TABLE students_bad")
cursor.execute("CREATE TABLE cities (
    id INTEGER PRIMARY KEY,
    name TEXT,
    code TEXT
)")
cursor.execute("CREATE TABLE students (
    id INTEGER PRIMARY KEY,
    name TEXT,
    city_id INTEGER,
    FOREIGN KEY (city_id) REFERENCES cities(id)
)")
# –î–æ–±–∞–≤–∏–º –≥–æ—Ä–æ–¥–∞ –∏ —Å—Ç—É–¥–µ–Ω—Ç–æ–≤
cursor.executemany("INSERT INTO cities (name, code) VALUES (?, ?)", [
    ("–ú–æ—Å–∫–≤–∞", "MSK"),
    ("–°–ü–±", "LED")
])
conn.commit()
city_id_msk = cursor.execute("SELECT id FROM cities WHERE name = '–ú–æ—Å–∫–≤–∞'").fetchone()[0]
city_id_led = cursor.execute("SELECT id FROM cities WHERE name = '–°–ü–±'").fetchone()[0]
cursor.executemany("INSERT INTO students (name, city_id) VALUES (?, ?)", [
    ("–ê–Ω–Ω–∞", city_id_msk),
    ("–ë–æ–±", city_id_msk),
    ("–í–∞—Å—è", city_id_led)
])
conn.commit()

# –ü—Ä–æ–≤–µ—Ä–∫–∞
print("\n‚úÖ –ü–æ—Å–ª–µ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏–∏ (3NF):")
cursor.execute('''
SELECT s.name, c.name, c.code FROM students s
JOIN cities c ON s.city_id = c.id
''')
for row in cursor.fetchall():
    print(row)