## 22. –°–≤—è–∑–∏ –æ–¥–∏–Ω-–∫–æ-–º–Ω–æ–≥–∏–º

### üîó –°–≤—è–∑–∏ –æ–¥–∏–Ω-–∫–æ-–º–Ω–æ–≥–∏–º

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–û–¥–∏–Ω –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª—å –º–æ–∂–µ—Ç –∏–º–µ—Ç—å –º–Ω–æ–≥–æ –∑–∞–∫–∞–∑–æ–≤. –û–¥–∏–Ω –∞–≤—Ç–æ—Ä ‚Äî –º–Ω–æ–≥–æ –∫–Ω–∏–≥. –¢–∞–∫–∏–µ —Å–≤—è–∑–∏ –≤—Å—Ç—Ä–µ—á–∞—é—Ç—Å—è –ø–æ—Å—Ç–æ—è–Ω–Ω–æ, –∏ –∏—Ö –Ω—É–∂–Ω–æ –ø—Ä–∞–≤–∏–ª—å–Ω–æ –º–æ–¥–µ–ª–∏—Ä–æ–≤–∞—Ç—å –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–°–≤—è–∑—å "–æ–¥–∏–Ω-–∫–æ-–º–Ω–æ–≥–∏–º" —Ä–µ–∞–ª–∏–∑—É–µ—Ç—Å—è —Å –ø–æ–º–æ—â—å—é –≤–Ω–µ—à–Ω–µ–≥–æ –∫–ª—é—á–∞ (`FOREIGN KEY`) –≤ —Ç–∞–±–ª–∏—Ü–µ "–º–Ω–æ–≥–∏–µ".

- –í "–¥–æ—á–µ—Ä–Ω–µ–π" —Ç–∞–±–ª–∏—Ü–µ –µ—Å—Ç—å —Å—Ç–æ–ª–±–µ—Ü, –∫–æ—Ç–æ—Ä—ã–π —Å—Å—ã–ª–∞–µ—Ç—Å—è –Ω–∞ `id` –∏–∑ —Ä–æ–¥–∏—Ç–µ–ª—å—Å–∫–æ–π —Ç–∞–±–ª–∏—Ü—ã
- –≠—Ç–æ –æ–±–µ—Å–ø–µ—á–∏–≤–∞–µ—Ç —Ü–µ–ª–æ—Å—Ç–Ω–æ—Å—Ç—å: –Ω–µ–ª—å–∑—è –≤—Å—Ç–∞–≤–∏—Ç—å –∑–∞–∫–∞–∑ —Å –Ω–µ—Å—É—â–µ—Å—Ç–≤—É—é—â–∏–º –ø–æ–ª—å–∑–æ–≤–∞—Ç–µ–ª–µ–º

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –°–≤—è–∑—å –æ–¥–∏–Ω-–∫–æ-–º–Ω–æ–≥–∏–º –≤ SQLite
import sqlite3
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# –¢–∞–±–ª–∏—Ü–∞ –∞–≤—Ç–æ—Ä–æ–≤
cursor.execute('''
CREATE TABLE authors (
    id INTEGER PRIMARY KEY,
    name TEXT
);
''')
# –¢–∞–±–ª–∏—Ü–∞ –∫–Ω–∏–≥ (–º–Ω–æ–≥–∏–µ –∫–Ω–∏–≥–∏ –Ω–∞ –æ–¥–Ω–æ–≥–æ –∞–≤—Ç–æ—Ä–∞)
cursor.execute('''
CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT,
    author_id INTEGER,
    FOREIGN KEY (author_id) REFERENCES authors(id)
);
''')
cursor.execute("INSERT INTO authors (name) VALUES ('–î–æ—Å—Ç–æ–µ–≤—Å–∫–∏–π')")
author_id = cursor.lastrowid
cursor.executemany("INSERT INTO books (title, author_id) VALUES (?, ?)", [
    ("–ü—Ä–µ—Å—Ç—É–ø–ª–µ–Ω–∏–µ –∏ –Ω–∞–∫–∞–∑–∞–Ω–∏–µ", author_id),
    ("–ò–¥–∏–æ—Ç", author_id)
])
conn.commit()

# –ü–æ–ª—É—á–∞–µ–º –∫–Ω–∏–≥–∏ —Å –∏—Ö –∞–≤—Ç–æ—Ä–æ–º
cursor.execute('''
SELECT a.name, b.title FROM authors a
JOIN books b ON a.id = b.author_id
''')
print("üìö –ê–≤—Ç–æ—Ä—ã –∏ –∏—Ö –∫–Ω–∏–≥–∏:")
for row in cursor.fetchall():
    print(row)