## 24. –ö–∞—Å–∫–∞–¥–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏

### üß∑ –ö–∞—Å–∫–∞–¥–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ï—Å–ª–∏ —É–¥–∞–ª–∏—Ç—å —Ä–æ–¥–∏—Ç–µ–ª—è, –Ω–æ –Ω–µ —É–¥–∞–ª–∏—Ç—å –∑–∞–≤–∏—Å–∏–º—ã–µ —Å—Ç—Ä–æ–∫–∏ ‚Äî –≤ –±–∞–∑–µ –æ—Å—Ç–∞–Ω–µ—Ç—Å—è "–º—É—Å–æ—Ä". –ò–ª–∏ –Ω–∞–æ–±–æ—Ä–æ—Ç ‚Äî –Ω–µ–ª—å–∑—è –±—É–¥–µ—Ç —É–¥–∞–ª–∏—Ç—å –∏–∑-–∑–∞ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏–π. –ö–∞—Å–∫–∞–¥–Ω—ã–µ –æ–ø–µ—Ä–∞—Ü–∏–∏ (`ON DELETE CASCADE`) —Ä–µ—à–∞—é—Ç —ç—Ç—É –ø—Ä–æ–±–ª–µ–º—É.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`CASCADE` –æ–∑–Ω–∞—á–∞–µ—Ç, —á—Ç–æ –ø—Ä–∏ —É–¥–∞–ª–µ–Ω–∏–∏ –∏–ª–∏ –æ–±–Ω–æ–≤–ª–µ–Ω–∏–∏ —Å—Ç—Ä–æ–∫–∏ –≤ —Ä–æ–¥–∏—Ç–µ–ª—å—Å–∫–æ–π —Ç–∞–±–ª–∏—Ü–µ –∞–≤—Ç–æ–º–∞—Ç–∏—á–µ—Å–∫–∏ –∏–∑–º–µ–Ω—è—é—Ç—Å—è/—É–¥–∞–ª—è—é—Ç—Å—è —Å—Ç—Ä–æ–∫–∏ –≤ –¥–æ—á–µ—Ä–Ω–µ–π.

- `ON DELETE CASCADE` ‚Äî —É–¥–∞–ª–∏—Ç—å –≤—Å–µ –¥–æ—á–µ—Ä–Ω–∏–µ —Å—Ç—Ä–æ–∫–∏
- `ON UPDATE CASCADE` ‚Äî –æ–±–Ω–æ–≤–∏—Ç—å –≤–Ω–µ—à–Ω–∏–π –∫–ª—é—á –≤ –¥–æ—á–µ—Ä–Ω–µ–π —Ç–∞–±–ª–∏—Ü–µ

–ü—Ä–∏–º–µ–Ω—è–µ—Ç—Å—è –≤ `FOREIGN KEY` –ø—Ä–∏ —Å–æ–∑–¥–∞–Ω–∏–∏ —Ç–∞–±–ª–∏—Ü—ã.

**–ü—Ä–∏–º–µ—Ä:**

In [ ]:
# –ö–∞—Å–∫–∞–¥–Ω–æ–µ —É–¥–∞–ª–µ–Ω–∏–µ –≤ SQLite
import sqlite3
conn = sqlite3.connect(':memory:')
conn.execute("PRAGMA foreign_keys = ON")  # –í–∫–ª—é—á–∞–µ–º –ø–æ–¥–¥–µ—Ä–∂–∫—É –≤–Ω–µ—à–Ω–∏—Ö –∫–ª—é—á–µ–π
cursor = conn.cursor()

# –†–æ–¥–∏—Ç–µ–ª—å—Å–∫–∞—è —Ç–∞–±–ª–∏—Ü–∞
cursor.execute('''CREATE TABLE authors (
    id INTEGER PRIMARY KEY,
    name TEXT
)''')
# –î–æ—á–µ—Ä–Ω—è—è —Ç–∞–±–ª–∏—Ü–∞ —Å –∫–∞—Å–∫–∞–¥–æ–º
cursor.execute('''CREATE TABLE books (
    id INTEGER PRIMARY KEY,
    title TEXT,
    author_id INTEGER,
    FOREIGN KEY (author_id) REFERENCES authors(id) ON DELETE CASCADE
)''')
# –î–æ–±–∞–≤–∏–º –∞–≤—Ç–æ—Ä–∞ –∏ –∫–Ω–∏–≥–∏
cursor.execute("INSERT INTO authors (name) VALUES ('–¢–æ–ª—Å—Ç–æ–π')")
author_id = cursor.lastrowid
cursor.executemany("INSERT INTO books (title, author_id) VALUES (?, ?)", [
    ("–í–æ–π–Ω–∞ –∏ –º–∏—Ä", author_id),
    ("–ê–Ω–Ω–∞ –ö–∞—Ä–µ–Ω–∏–Ω–∞", author_id)
])
conn.commit()
# –£–¥–∞–ª—è–µ–º –∞–≤—Ç–æ—Ä–∞
cursor.execute("DELETE FROM authors WHERE id = ?", (author_id,))
conn.commit()
# –ü—Ä–æ–≤–µ—Ä—è–µ–º, —É–¥–∞–ª–∏–ª–∏—Å—å –ª–∏ –∫–Ω–∏–≥–∏
cursor.execute("SELECT * FROM books")
print("üìï –ö–Ω–∏–≥–∏ –ø–æ—Å–ª–µ —É–¥–∞–ª–µ–Ω–∏—è –∞–≤—Ç–æ—Ä–∞:")
print(cursor.fetchall())