# üìò –®–ø–∞—Ä–≥–∞–ª–∫–∞: –†–∞–±–æ—Ç–∞ —Å SQLite3 –≤ Python –¥–ª—è –Ω–∞—á–∏–Ω–∞—é—â–∏—Ö


–î–æ–±—Ä–æ –ø–æ–∂–∞–ª–æ–≤–∞—Ç—å! –í —ç—Ç–æ–π —à–ø–∞—Ä–≥–∞–ª–∫–µ –º—ã –ø–æ–¥—Ä–æ–±–Ω–æ —Ä–∞–∑–±–µ—Ä–µ–º, –∫–∞–∫ —Ä–∞–±–æ—Ç–∞—Ç—å —Å –±–∞–∑–∞–º–∏ –¥–∞–Ω–Ω—ã—Ö SQLite3 –Ω–∞ Python. 
–í—Å—ë –æ–±—ä—è—Å–Ω—è–µ—Ç—Å—è –ø—Ä–æ—Å—Ç—ã–º —è–∑—ã–∫–æ–º, —Å –ø—Ä–∏–º–µ—Ä–∞–º–∏ –∏ –ø–æ–ª–µ–∑–Ω—ã–º–∏ –∫–æ–º–º–µ–Ω—Ç–∞—Ä–∏—è–º–∏ ‚Äî —á—Ç–æ–±—ã —Ç—ã –º–æ–≥ —Å—Ä–∞–∑—É –ø—Ä–∏–º–µ–Ω—è—Ç—å –∑–Ω–∞–Ω–∏—è –Ω–∞ –ø—Ä–∞–∫—Ç–∏–∫–µ.

## 1. –û—Å–Ω–æ–≤—ã –∑–∞–ø—Ä–æ—Å–æ–≤ SQL (SQLite3)


### üß© –°–æ–∑–¥–∞–Ω–∏–µ —Ç–∞–±–ª–∏—Ü (CREATE TABLE)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–õ—é–±–∞—è –±–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –Ω–∞—á–∏–Ω–∞–µ—Ç—Å—è —Å —Ç–∞–±–ª–∏—Ü. –ß—Ç–æ–±—ã —Ö—Ä–∞–Ω–∏—Ç—å –∏–Ω—Ñ–æ—Ä–º–∞—Ü–∏—é, –Ω–∞–º –Ω—É–∂–Ω–æ –∑–∞–¥–∞—Ç—å —Å—Ç—Ä—É–∫—Ç—É—Ä—É: –∫–∞–∫–∏–µ –ø–æ–ª—è, –∫–∞–∫–∏–µ —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö, –∫–∞–∫–∏–µ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
–ö–æ–º–∞–Ω–¥–∞ `CREATE TABLE` —Å–æ–∑–¥–∞—ë—Ç —Ç–∞–±–ª–∏—Ü—É —Å –∑–∞–¥–∞–Ω–Ω—ã–º–∏ —Å—Ç–æ–ª–±—Ü–∞–º–∏. –û–±—ã—á–Ω–æ —É–∫–∞–∑—ã–≤–∞—é—Ç—Å—è —Ç–∏–ø—ã –¥–∞–Ω–Ω—ã—Ö –∏ –∫–ª—é—á–µ–≤—ã–µ –æ–≥—Ä–∞–Ω–∏—á–µ–Ω–∏—è.

**–ü—Ä–∏–º–µ—Ä—ã:**
```sql
CREATE TABLE users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER CHECK(age >= 0)
);
```

–°–æ–∑–¥–∞—ë—Ç—Å—è —Ç–∞–±–ª–∏—Ü–∞ `users` —Å –∞–≤—Ç–æ–∏–Ω–∫—Ä–µ–º–µ–Ω—Ç–∏—Ä—É–µ–º—ã–º ID, –æ–±—è–∑–∞—Ç–µ–ª—å–Ω—ã–º –∏–º–µ–Ω–µ–º –∏ –ø—Ä–æ–≤–µ—Ä–∫–æ–π, —á—Ç–æ –≤–æ–∑—Ä–∞—Å—Ç –Ω–µ–æ—Ç—Ä–∏—Ü–∞—Ç–µ–ª—å–Ω—ã–π.


### ‚ûï –î–æ–±–∞–≤–ª–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (INSERT INTO)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ß—Ç–æ–±—ã —Ç–∞–±–ª–∏—Ü–∞ –Ω–µ –±—ã–ª–∞ –ø—É—Å—Ç–æ–π, –Ω—É–∂–Ω–æ –∑–∞–Ω–æ—Å–∏—Ç—å –≤ –Ω–µ—ë –∑–∞–ø–∏—Å–∏.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`INSERT INTO` –¥–æ–±–∞–≤–ª—è–µ—Ç —Å—Ç—Ä–æ–∫—É –≤ —Ç–∞–±–ª–∏—Ü—É. –ú–æ–∂–Ω–æ —É–∫–∞–∑–∞—Ç—å —Ç–æ–ª—å–∫–æ –Ω—É–∂–Ω—ã–µ –ø–æ–ª—è.

**–ü—Ä–∏–º–µ—Ä—ã:**
```sql
INSERT INTO users (name, age)
VALUES ('–ê–Ω—è', 14),
       ('–ë–æ—Ä–∏—Å', 16);
```


### üîç –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö (SELECT)

**–ü–æ—Å—Ç–∞–Ω–æ–≤–∫–∞ –ø—Ä–æ–±–ª–µ–º—ã:**  
–ö–æ–≥–¥–∞ –¥–∞–Ω–Ω—ã–µ —É–∂–µ –≤ —Ç–∞–±–ª–∏—Ü–µ, –Ω—É–∂–Ω–æ —É–º–µ—Ç—å –∏—Ö –∏–∑–≤–ª–µ–∫–∞—Ç—å.

**–ö—Ä–∞—Ç–∫–∞—è —Ç–µ–æ—Ä–∏—è:**  
`SELECT` –ø–æ–∑–≤–æ–ª—è–µ—Ç –≤—ã–±—Ä–∞—Ç—å –Ω—É–∂–Ω—ã–µ —Å—Ç—Ä–æ–∫–∏. –ú–æ–∂–Ω–æ –≤—ã–±—Ä–∞—Ç—å –≤—Å–µ (`*`), –∏–ª–∏ –∫–æ–Ω–∫—Ä–µ—Ç–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã.

**–ü—Ä–∏–º–µ—Ä—ã:**
```sql
-- –í—Å–µ –¥–∞–Ω–Ω—ã–µ
SELECT * FROM users;

-- –¢–æ–ª—å–∫–æ –∏–º–µ–Ω–∞
SELECT name FROM users;

-- –¢–æ–ª—å–∫–æ —Ç–µ—Ö, –∫—Ç–æ —Å—Ç–∞—Ä—à–µ 15
SELECT * FROM users WHERE age > 15;
```

In [ ]:
import sqlite3

# –ü–æ–¥–∫–ª—é—á–∞–µ–º—Å—è –∫ –ë–î (—Å–æ–∑–¥–∞—ë—Ç—Å—è —Ñ–∞–π–ª, –µ—Å–ª–∏ –µ–≥–æ –Ω–µ—Ç)
connection = sqlite3.connect("example.db")
cursor = connection.cursor()

# –°–æ–∑–¥–∞—ë–º —Ç–∞–±–ª–∏—Ü—É
cursor.execute("""
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER
)
""")

# –î–æ–±–∞–≤–ª—è–µ–º –¥–∞–Ω–Ω—ã–µ
cursor.executemany("INSERT INTO users (name, age) VALUES (?, ?)", [
    ('–ê–Ω–Ω–∞', 14),
    ('–ë–æ—Ä–∏—Å', 16),
    ('–í–∏–∫–∞', 13),
])

# –°–æ—Ö—Ä–∞–Ω—è–µ–º –∏–∑–º–µ–Ω–µ–Ω–∏—è
connection.commit()

# –ß–∏—Ç–∞–µ–º –¥–∞–Ω–Ω—ã–µ
cursor.execute("SELECT * FROM users")
for row in cursor.fetchall():
    print(row)

# –ó–∞–∫—Ä—ã–≤–∞–µ–º —Å–æ–µ–¥–∏–Ω–µ–Ω–∏–µ
connection.close()